# LangChain core
langchain
langchain-core
langchain-community
langchain-text-splitters

# Providers / Integrations
langchain-openai
openai
tiktoken

langchain-anthropic
anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface_hub

# Vector stores
chromadb

# Data & Typing
pydantic
numpy
scikit-learn
python-dotenv

# App / UI
streamlit

youtube_transcript_api
faiss-cpu